<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServLogin</servlet-name>
        <servlet-class>Login.ServLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioCliente</servlet-name>
        <servlet-class>Cliente.InicioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioAdmin</servlet-name>
        <servlet-class>Admin.InicioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioDesarrollador</servlet-name>
        <servlet-class>Desarrollador.InicioDesarrollador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaP_Cliente</servlet-name>
        <servlet-class>Cliente.NuevaP_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacionesC</servlet-name>
        <servlet-class>Cliente.PublicacionesC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPublicacion</servlet-name>
        <servlet-class>Cliente.EditarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicaciones</servlet-name>
        <servlet-class>Desarrollador.Publicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes</servlet-name>
        <servlet-class>Desarrollador.Clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRegistroUser</servlet-name>
        <servlet-class>Login.ServRegistroUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServModificarUser</servlet-name>
        <servlet-class>Login.ServModificarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Login.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormModificarUser</servlet-name>
        <servlet-class>Login.FormModificarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaPreg</servlet-name>
        <servlet-class>Cliente.NuevaPreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seguimiento</servlet-name>
        <servlet-class>Cliente.Seguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajosInt</servlet-name>
        <servlet-class>Desarrollador.TrabajosInt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seg_trabajo</servlet-name>
        <servlet-class>Desarrollador.seg_trabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cobros</servlet-name>
        <servlet-class>Desarrollador.cobros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServMarcoGenerico</servlet-name>
        <servlet-class>ServMarcoGenerico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contrato</servlet-name>
        <servlet-class>Cliente.Contrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contrato_2</servlet-name>
        <servlet-class>Cliente.Contrato_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contratar</servlet-name>
        <servlet-class>Cliente.Contratar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solicitud</servlet-name>
        <servlet-class>Desarrollador.Solicitud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServLogin</servlet-name>
        <url-pattern>/ServLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioCliente</servlet-name>
        <url-pattern>/InicioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioAdmin</servlet-name>
        <url-pattern>/InicioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioDesarrollador</servlet-name>
        <url-pattern>/InicioDesarrollador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaP_Cliente</servlet-name>
        <url-pattern>/NuevaP_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicacionesC</servlet-name>
        <url-pattern>/PublicacionesC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPublicacion</servlet-name>
        <url-pattern>/EditarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicaciones</servlet-name>
        <url-pattern>/Publicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRegistroUser</servlet-name>
        <url-pattern>/ServRegistroUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServModificarUser</servlet-name>
        <url-pattern>/ServModificarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormModificarUser</servlet-name>
        <url-pattern>/FormModificarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaPreg</servlet-name>
        <url-pattern>/NuevaPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seguimiento</servlet-name>
        <url-pattern>/Seguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajosInt</servlet-name>
        <url-pattern>/TrabajosInt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seg_trabajo</servlet-name>
        <url-pattern>/seg_trabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cobros</servlet-name>
        <url-pattern>/cobros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServMarcoGenerico</servlet-name>
        <url-pattern>/ServMarcoGenerico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contrato</servlet-name>
        <url-pattern>/Contrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contrato_2</servlet-name>
        <url-pattern>/Contrato_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contratar</servlet-name>
        <url-pattern>/Contratar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitud</servlet-name>
        <url-pattern>/Solicitud</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
