<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServLogin</servlet-name>
        <servlet-class>Login.ServLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioCliente</servlet-name>
        <servlet-class>Cliente.InicioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioAdmin</servlet-name>
        <servlet-class>Admin.InicioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioDesarrollador</servlet-name>
        <servlet-class>Desarrollador.InicioDesarrollador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaP_Cliente</servlet-name>
        <servlet-class>Cliente.NuevaP_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacionesC</servlet-name>
        <servlet-class>Cliente.PublicacionesC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPublicacion</servlet-name>
        <servlet-class>Cliente.EditarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicaciones</servlet-name>
        <servlet-class>Desarrollador.Publicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes</servlet-name>
        <servlet-class>Desarrollador.Clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRegistroUser</servlet-name>
        <servlet-class>Login.ServRegistroUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServModificarUser</servlet-name>
        <servlet-class>Login.ServModificarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Login.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServLogin</servlet-name>
        <url-pattern>/ServLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioCliente</servlet-name>
        <url-pattern>/InicioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioAdmin</servlet-name>
        <url-pattern>/InicioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioDesarrollador</servlet-name>
        <url-pattern>/InicioDesarrollador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaP_Cliente</servlet-name>
        <url-pattern>/NuevaP_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicacionesC</servlet-name>
        <url-pattern>/PublicacionesC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPublicacion</servlet-name>
        <url-pattern>/EditarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicaciones</servlet-name>
        <url-pattern>/Publicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRegistroUser</servlet-name>
        <url-pattern>/ServRegistroUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServModificarUser</servlet-name>
        <url-pattern>/ServModificarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
